body {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    background-color: #292929;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    justify-content: flex-start;
    font-size: 20px;
}

.profile {
    display: flex;
    align-items: center;
    width: 300px;
}

.profile img {
    width: 290px;
    border-radius: 10%;
    margin-right: 50px;
}

.profile-info h1 {
    color: #ffa500;
    margin: 0;
    font-size: 80px;
    white-space: nowrap;

}

.profile-info p {
    margin: 5px 0;
    padding: 5px;
    font-size: 25px;
}

.content {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    flex: 1;
}

.content p{
    font-size: 20px;
    white-space: nowrap;
}

.content h2{
    font-size: 40px;
}

.portfolio .grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project {
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #ffa500;
    color: #ffa500;
    text-align: center;
}

footer {
    background-color: #292929;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer h2 {
    color: #ffa500;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    color: #ffa500;
    font-size: 50px;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
}

.social-icons a:hover {
    color: #808080;
}
